@media screen and (max-width:800px){
    header .container{
        display: flex;
        flex-direction: column;
    }

    .tipo-conteudo{
        width: 400%;
        display: block;
    }

    .botao{
        margin-bottom: 5px;
        width: 300px;
    }

    .carrossel-filmes h1{
        font-size: 1.5rem;
    }

    .item h1{
        font-size: 18px;
        margin-left: 45px;
    }
}

@media screen and (min-width:1000px){
    .descricao{
        width: 50%;
    }
}